# Analyzing Employee Performance for HR Analytics Using Python and MySQL
This project undertakes a thorough examination of real-world employee-related data. This project intends to evaluate the provided dataset, solve business problems on this dataset and mine information Insights

In the face of escalating volume of data pertaining to employees and their contributions across diverse organization functions, there arises a critical imperative to leverage the combined power of Python and SQL for a meticulous exploration and analysis.

## Objectives
### Data Retrieval
Retrieve the World Bank Loan dataset from the data_worldbank.csv file that is stored in csv format
### Data Cleaning 
Cleaning the dataset to address missing,inconsistent,duplicate data
### Data Prepartion and Column Transformation
Preparing dataset for analysis by removing any unnecessary columns and renaming some columns to improve calrity and consistency.
### Data Conversion and Export
Converting different colummns to their appropriate format
### Importing Data to Database and Creating Database Connection
Importing data to sql inorder to make the analysis.
### Trend Analysis
Identifying and analysing trends in World Bank Loan Distribution over time and exploring patterins in loan allocation across different regions and sectors

## Dataset
The dataset ,containing real-world data, provides a detailed overview of employee-related data. With a focus on HR analytics, this dataset encompasses a range of critical information related to employees. The dataset is structured with the following columns.

### employee_id
A unique identifier assigned to each employee. It serves as a distinct label to differentiate one employee from another.

### department
Indicates the specific department or functional area within the organization where the employee is assigned.

### region
Denotes the geographical or organizational region where the employee's workplace is located.

### education 
Represents the highest level of education attained by the employee. Common categories might include "Below Secondary," "Secondary (High School)," "Bachelor's," "Master's," or other relevant educational qualifications.

### gender 
Specifies the gender of the employee, typically categorized as "Male" or "Female."

### recruitment_channel
Describes the channel through which the employee was recruited into the organization. Common channels include "Direct" (hired directly by the company), "Referral" (recommended by existing employees), or "Other" (recruited through external agencies).

### no_of_trainings 
Indicates the number of training programs or courses the employee has participated in. This could provide insights into the employee's commitment to continuous learning and development.

### age
Represents the age of the employee. Age can be a relevant factor in workforce planning, career development, and succession planning.

### previous_year_rating
Reflects the performance rating or evaluation assigned to the employee in the previous year. Ratings are often on a numerical or categorical scale and provide a measure of the employee's past performance.

### length_of_service
Signifies the total duration of an employee's service or tenure with the organization. It is a valuable metric for understanding the level of experience and commitment an employee brings to their role.

### KPIs_met_more_than_80 
Binary indicator (1 or 0) that denotes whether the employee has met Key Performance Indicators (KPIs) by more than 80%. KPIs are specific, measurable goals set by the organization to assess performance.

### awards_won 
Binary indicator (1 or 0) that signifies whether the employee has won any awards or recognition for exceptional performance.

### avg_training_score
Represents the average score achieved by the employee in various training programs. It offers insights into the employee's aptitude for learning and skill development.

## Tools
We'll be using the the library pandas from the python function to facilitate data manipulation and perform inital assessment of the dataset's strucutre. Once that is complete We'll be using mysql to formulate SQL queries to extract relevant information for trend analysis.

## Approach
### Data Import and Initial Exploration
In data analysis, the initial step of importing a dataset and exploring its initial content is akin to opening a door to valuable insights.

In [1]:
# -- import pandas --
import pandas as pd 
# read in dataset 
df = pd.read_csv("./Uncleaned_employees.csv")
# inspect data
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
0,8724,Technology,region_26,Bachelors,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelors,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelors,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelors,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelors,m,sourcing,1,30,4.0,7,0,0,61

### Identifying Duplicate Data
In this step, we aim to identify and quantify the presence of duplicate data within our dataset.

In [2]:
duplicates = df.duplicated().sum()
print(duplicates)

2

### Removing Duplicate Data
In this step, we are removing duplicate data from our dataset by utilizing the drop_duplicates function with the inplace=True parameter. Duplicate data can introduce noise and inaccuracies into our analysis, and removing them ensures that we work with unique and non-repetitive records

In [3]:
df.drop_duplicates(inplace=True)

### Identifying Missing DataÂ¶
Here, we're examining our dataset for missing values, indicated by 'null' values. The 'null_values' variable holds the count of missing data points for each column. Identifying and quantifying missing data is crucial as it helps us understand the completeness of our dataset.

In [12]:
null_values = df.isnull().sum()
print(null_values)

employee_id              0
department               0
region                   0
education                0
gender                   0
recruitment_channel      0
no_of_trainings          0
age                      0
previous_year_rating     0
length_of_service        0
KPIs_met_more_than_80    0
awards_won               0
avg_training_score       0
dtype: int64

### Handling Missing Data
In this step, we're addressing missing data in specific columns, namely 'Education' and 'previous_year_rating.' We use the dropna function with the subset parameter to remove rows with missing values in these columns, setting inplace=True. Handling missing data is crucial to maintain data integrity and accuracy in our analysis. By removing rows with missing values in these specific columns, we ensure that the dataset remains reliable and complete for our subsequent analysis.

In [9]:
df.dropna(subset=["education","previous_year_rating"],inplace=True)

### Data Preparation and Column Transformation
In this step, we are preparing the dataset for analysis. We remove unnecessary columns and rename some columns to improve clarity and consistency. We notice that the "region" column contains inconsistent data. We extract the numeric part of the string and convert the result to numeric values. This ensures that the dataset is optimized for our analysis, making it more concise and easier to work with in the next stages of our project.

In [10]:
df['region'] = df['region'].str.extract('(\d+)')

# Convert the result to numeric values
df['region'] = pd.to_numeric(df['region'])

### Data Conversion and Export
We export the cleaned dataset to a CSV file for future use and verify the data types to ensure they are in the correct format.

In [11]:
df.to_csv('cleaned_dataset.csv',index=False)

## Trend Analysis
Once we've prepared our data, we'll use sql to analyse any patterns within the data

Data Import and Database Connection
We'll start by loading sql libraries and connecting to the sql. In order to load the data we'll have to use MySQLWorkbench. we'll first login into our Local instance. Once that is complete, we'll have to create a new schema to hold our new table. after the schema is created, use the table data import wizard to load the data into the csv. During the import, MYSQL Workbench will prompt the data type of each dataset. During this process, select the appropriate data types such as datetime , double , string to the needed attributes.

### Creating the Database Connection
in the next step we create our database connection using the pymysql library

In [2]:
# -- Load the sql extention ----
%load_ext sql

# --- Load your mysql db using credentials  ---
%sql mysql+pymysql://root:password@localhost:3306/employee_data

Connecting to 'mysql+pymysql://root:***@localhost:3306/employee_data'

### Asking questions to uncover patterns
We start our analysis by asking questions relevant to the topic

#### Q1 Find the average age of employees in each department and gender group. ( Round average age up to two decimal places if needed).

This Questions Let's as have an insight in what the most typical age for each department and gender is

In [94]:
%%sql
Select department, gender, 
round(avg(age),2) as Avg_Age 
from employee 
group by 1,2

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

18 rows affected.

+-------------------+--------+---------+
|     department    | gender | Avg_Age |
+-------------------+--------+---------+
|         HR        |   f    |  35.57  |
| Sales & Marketing |   m    |  35.90  |
|    Procurement    |   f    |  36.86  |
|      Finance      |   m    |  33.15  |
|    Procurement    |   m    |  36.73  |
|     Analytics     |   m    |  33.54  |
|     Technology    |   m    |  35.87  |
| Sales & Marketing |   f    |  34.90  |
|     Operations    |   m    |  36.88  |
|     Operations    |   f    |  36.37  |
+-------------------+--------+---------+
Truncated to displaylimit of 10.

#### Q2 List the top 3 departments with the highest average training scores. ( Round average scores up to two decimal places if needed)
Finding the top 3 departments with the highest average training scores let's us know which departments have the best typical score

In [96]:
%%sql 
Select department, 
round(avg(avg_training_score),2) as avg_training_score from employee group by 1 order by 2   limit 3

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

3 rows affected.

+-------------------+--------------------+
|     department    | avg_training_score |
+-------------------+--------------------+
| Sales & Marketing |       50.11        |
|         HR        |       50.39        |
|       Legal       |       59.47        |
+-------------------+--------------------+

#### Q3 Find the percentage of employees who have won awards in each region. (Round percentages up to two decimal places if needed)
By answering this question, we can identify how much part of the employees are rewarded and which are not which let's us know which region has rewarded achievers

In [97]:
%%sql
select region,
ROUND((SUM(CASE WHEN awards_won = '1' THEN 1 else 0 END)/Count(awards_won))*100,2) as Percentage_won from employee group  by 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

34 rows affected.

+--------+----------------+
| region | Percentage_won |
+--------+----------------+
|   4    |      3.31      |
|   13   |      2.24      |
|   2    |      2.19      |
|   29   |      2.85      |
|   7    |      2.86      |
|   22   |      2.05      |
|   16   |      1.77      |
|   17   |      5.67      |
|   24   |      0.66      |
|   11   |      1.55      |
+--------+----------------+
Truncated to displaylimit of 10.

#### Q4 Show the number of employees who have met more than 80% of KPIs for each recruitment channel and education level.
This leads us to the answer of how many employees have met their performance level based on what recruitment channel and education lever. This lets us know whether or not recruitment channel and education level have an impact on the productivity of employees

In [56]:
%%sql
Select 
recruitment_channel,education , 
Count(case when KPIs_met_more_than_80 = '1' then 1 end)  as People_with_KPIs_met_more_than_80
from employee 
group by recruitment_channel,education 
order by 3 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

9 rows affected.

+---------------------+-----------------+-----------------------------------+
| recruitment_channel |    education    | People_with_KPIs_met_more_than_80 |
+---------------------+-----------------+-----------------------------------+
|        other        |    Bachelors    |                2044               |
|       sourcing      |    Bachelors    |                1574               |
|        other        | Masters & above |                1003               |
|       sourcing      | Masters & above |                723                |
|       referred      |    Bachelors    |                125                |
|        other        | Below Secondary |                 38                |
|       sourcing      | Below Secondary |                 34                |
|       referred      | Masters & above |                 33                |
|       referred      | Below Secondary |                 2                 |
+---------------------+-----------------+-----------------------------------+

#### Q5 Find the average length of service for employees in each department, considering only employees with previous year ratings greater than or equal to 4. ( Round average length up to two decimal places if needed)
Answering this will let us know what is the typical amount of time an employee ,who has been rated as a great empoyee, has stayed in the company. This lets us know the retention in high performers, and let;s us know which individuals have made long-tem contributions to the organizaiton.

In [60]:
%%sql
select department, 
round(avg(length_of_service),2) as Avg_length_service from employee where previous_year_rating > 3 group by 1 order by 2 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

9 rows affected.

+-------------------+--------------------+
|     department    | Avg_length_service |
+-------------------+--------------------+
|     Operations    |        6.83        |
|    Procurement    |        6.63        |
| Sales & Marketing |        6.33        |
|     Technology    |        6.31        |
|         HR        |        6.07        |
|      Finance      |        5.70        |
|     Analytics     |        5.53        |
|        R&D        |        4.86        |
|       Legal       |        4.79        |
+-------------------+--------------------+

#### Q6 List the top 5 regions with the highest average previous year ratings. ( Round average ratings up to two decimal places if needed)
This questions leads us to the answer of ,at average,what regions  have employees with higher previous year ratings, leading us to compare performance between different regions, identify which regions contain high performing individuals

In [66]:
%%sql
select region, 
round(avg(previous_year_rating),2) as avg_prev_year_rating 
from employee 
group by 1 
order by 2 desc limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

5 rows affected.

+--------+----------------------+
| region | avg_prev_year_rating |
+--------+----------------------+
|   25   |         3.58         |
|   4    |         3.53         |
|   8    |         3.50         |
|   28   |         3.49         |
|   23   |         3.47         |
+--------+----------------------+

#### Q7 List the departments with more than 100 employees having a length of service greater than 5 years.
This lets us identify departments with long-term employees. Whether or not departmenets have stable work force with employees who have been with the organization fro an extended period. Identifying departments with a substantial number of long-serving employees can provide insights .

In [102]:
%%sql
select 
department,
count(case when length_of_service >5 then 1 end) as count_length_of_service
from employee 
group by department
having count(case when length_of_service >5 then 1 end) >100
order by 2 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

9 rows affected.

+-------------------+-------------------------+
|     department    | count_length_of_service |
+-------------------+-------------------------+
| Sales & Marketing |           2204          |
|     Operations    |           1720          |
|    Procurement    |           1023          |
|     Technology    |           896           |
|     Analytics     |           591           |
|         HR        |           332           |
|      Finance      |           300           |
|        R&D        |           115           |
|       Legal       |            98           |
+-------------------+-------------------------+

#### Q8 Show the average length of service for employees who have attended more than 3 training, grouped by department and gender. ( Round average length up to two decimal places if needed)

Answerting this let's us know whether or not training has an impact on employee retention, since the result is grouped by department, identify whether or not department specific training has relationship with average length of service

In [83]:
%%sql
Select department, gender, 
Round(Avg(length_of_service),2) as Avg_length_of_service from employee
where no_of_trainings >3
group by 1,2
order by 3 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

11 rows affected.

+-------------------+--------+-----------------------+
|     department    | gender | Avg_length_of_service |
+-------------------+--------+-----------------------+
|     Technology    |   m    |          7.85         |
|     Operations    |   f    |          7.50         |
|     Technology    |   f    |          6.50         |
|    Procurement    |   m    |          5.92         |
| Sales & Marketing |   m    |          5.44         |
| Sales & Marketing |   f    |          5.00         |
|     Analytics     |   m    |          4.80         |
|    Procurement    |   f    |          4.80         |
|     Operations    |   m    |          4.25         |
|        R&D        |   m    |          3.71         |
+-------------------+--------+-----------------------+
Truncated to displaylimit of 10.

#### Q9 Find the percentage of female employees who have won awards, per department. Also show the number of female employees who won awards and total female employees. ( Round percentage up to two decimal places if needed)
This leads us to recognize and apply places where gender equality is needed and the effectiveness of awards programs.

In [114]:
%%sql
SELECT 
department,
Count(case when gender = "f" then 1 end) as total_female_employees,
round((Count(case when awards_won = "1" and gender = "f" then 1 end)/Count(employee_id) )*100,2) as percentage_female_award_winners,
Count(case when awards_won = "1" and gender = "f" then 1 end) as female_award_winners
from employee
group by 1

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

9 rows affected.

+-------------------+------------------------+---------------------------------+----------------------+
|     department    | total_female_employees | percentage_female_award_winners | female_award_winners |
+-------------------+------------------------+---------------------------------+----------------------+
|         HR        |          307           |               0.54              |          4           |
| Sales & Marketing |          889           |               0.41              |          19          |
|    Procurement    |          926           |               1.49              |          31          |
|      Finance      |          180           |               0.56              |          4           |
|     Analytics     |          131           |               0.21              |          3           |
|     Technology    |          772           |               0.86              |          17          |
|     Operations    |          1365          |               1.28              |          42          |
|       Legal       |           25           |               0.35              |          1           |
|        R&D        |           16           |               0.00              |          0           |
+-------------------+------------------------+---------------------------------+----------------------+

#### Q10 Calculate the percentage of employees per department who have a length of service between 5 and 10 years. ( Round percentage up to two decimal places if needed)
This questions leads us to know whether a company is effectively retaining employees within the 5-10 years of service range.

In [10]:
%%sql
SELECT department,
Round((count(case when length_of_service > 5 and length_of_service < 10 then 1 end)/count(*))*100,2) as retained_employees_percentage
FROM employee
group by 1
order by 2 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

9 rows affected.

+-------------------+-------------------------------+
|     department    | retained_employees_percentage |
+-------------------+-------------------------------+
|     Operations    |             33.34             |
|      Finance      |             32.96             |
| Sales & Marketing |             31.49             |
|     Analytics     |             31.27             |
|    Procurement    |             31.10             |
|        R&D        |             31.10             |
|         HR        |             29.81             |
|     Technology    |             28.83             |
|       Legal       |             25.44             |
+-------------------+-------------------------------+

#### Q11 Find the top 3 regions with the highest number of employees who have met more than 80% of their KPIs and received at least one award, grouped by department and region.
Answering this lets us know which department have the most productive employees who have been awarded

In [14]:
%%sql
SELECT department,region,count(*) as number_of_employees
from employee
where KPIs_met_more_than_80 = "1" and awards_won > "0"
group by 1,2
order by 3 desc 
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

5 rows affected.

+-------------------+--------+---------------------+
|     department    | region | number_of_employees |
+-------------------+--------+---------------------+
| Sales & Marketing |   2    |          19         |
|    Procurement    |   2    |          13         |
| Sales & Marketing |   7    |          10         |
|     Operations    |   15   |          7          |
|     Operations    |   22   |          7          |
+-------------------+--------+---------------------+

#### Q12 Calculate the average length of service for employees per education level and gender, considering only those employees who have completed more than 2 trainings and have an average training score greater than 75 ( Round average length up to two decimal places if needed)

this lets us discover whether or not education level and gender have any effect on the length of service. In addition we want to know whether or not people who have been well trained are staying within the company or not.

In [23]:
%%sql
select education, gender , round(avg(length_of_service),2) as avg_length_of_service from employee 
where avg_training_score > 75 and no_of_trainings > 2
group by 2,1
order by 3 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

5 rows affected.

+-----------------+--------+-----------------------+
|    education    | gender | avg_length_of_service |
+-----------------+--------+-----------------------+
| Masters & above |   m    |          6.70         |
| Masters & above |   f    |          6.00         |
|    Bachelors    |   f    |          5.71         |
|    Bachelors    |   m    |          4.53         |
| Below Secondary |   m    |          1.67         |
+-----------------+--------+-----------------------+

#### Q13 For each department and recruitment channel, find the total number of employees who have met more than 80% of their KPIs, have a previous_year_rating of 5, and have a length of service greater than 10 years.
This questions lets us know from which department and recruitment channel does the most effective employee that has stayed the longest in the industry resides

In [26]:
%%sql
SELECT department,recruitment_channel, count(*) as count_of_retained_productive_employees from employee 
where KPIs_met_more_than_80 = "1" and previous_year_rating = "5" and  length_of_service > 10
group by 1,2

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

19 rows affected.

+-------------------+---------------------+----------------------------------------+
|     department    | recruitment_channel | count_of_retained_productive_employees |
+-------------------+---------------------+----------------------------------------+
| Sales & Marketing |       sourcing      |                   19                   |
|     Analytics     |        other        |                   17                   |
|     Operations    |        other        |                   55                   |
|     Operations    |       sourcing      |                   39                   |
| Sales & Marketing |        other        |                   27                   |
|    Procurement    |       sourcing      |                   14                   |
|    Procurement    |        other        |                   24                   |
|     Technology    |       sourcing      |                   12                   |
|         HR        |        other        |                   4                    |
|       Legal       |        other        |                   2                    |
+-------------------+---------------------+----------------------------------------+
Truncated to displaylimit of 10.

#### Q14 Calculate the percentage of employees in each department who have received awards, have a previous_year_rating of 4 or 5, and an average training score above 70, grouped by department and gender ( Round percentage up to two decimal places if needed).

this question helps us discover the relation ship between hig performance and average training score in addition to know the distribution of awards by gender within each department

In [35]:
%%sql
SELECT department, gender ,
round((count(case when avg_training_score > 70 and previous_year_rating > 3 and  awards_won > 0 then 1 end) /count(*) )*100,2) as Percentage_Of_Employees
from employee
group by 1,2
order by 3 desc

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

18 rows affected.

+-------------+--------+-------------------------+
|  department | gender | Percentage_Of_Employees |
+-------------+--------+-------------------------+
|  Technology |   m    |           1.65          |
|  Analytics  |   f    |           1.53          |
|  Technology |   f    |           1.42          |
|     R&D     |   m    |           1.41          |
|  Analytics  |   m    |           1.15          |
|   Finance   |   f    |           1.11          |
| Procurement |   m    |           0.70          |
| Procurement |   f    |           0.65          |
|  Operations |   f    |           0.51          |
|  Operations |   m    |           0.36          |
+-------------+--------+-------------------------+
Truncated to displaylimit of 10.

#### Q15 List the top 5 recruitment channels with the highest average length of service for employees who have met more than 80% of their KPIs, have a previous_year_rating of 5, and an age between 25 and 45 years, grouped by department and recruitment channel. ( Round average length up to two decimal places if needed

Using this question, we can identify the most effective recruitment channels to get well performing employees who are middle aged and typicall stay very long within the company

In [40]:
%%sql
select department, recruitment_channel,round(avg(length_of_service),2) as avg_length_of_service from employee
where KPIs_met_more_than_80 = "1" and age >= 25 and age <= 45 and previous_year_rating = 5 
group by 1,2
order by 3 desc
limit 5

Running query in 'mysql+pymysql://root:***@localhost:3306/employee_data'

5 rows affected.

+-------------------+---------------------+-----------------------+
|     department    | recruitment_channel | avg_length_of_service |
+-------------------+---------------------+-----------------------+
|     Operations    |       referred      |          6.20         |
|     Operations    |        other        |          6.08         |
|     Operations    |       sourcing      |          5.93         |
| Sales & Marketing |        other        |          5.77         |
|    Procurement    |       sourcing      |          5.65         |
+-------------------+---------------------+-----------------------+